#ROOT_PATH=/app
#CUSTOM_REPO_ROOT=/app/repos
#CONFIG_LOCATION=/app/config/config.yml
#SECRETS_LOCATION=/app/config/secrets.yml
#DRY_RUN=true
#CONFIGARR_DIFF_OUTPUT_FILE=/app/config/diff-report.json
#LOAD_LOCAL_SAMPLES=false
#DEBUG_CREATE_FILES=false
#LOG_LEVEL=info
#TELEMETRY_ENABLED=false
#CONFIGARR_ENFORCE_CONFIG_VALIDATION=false
#CONFIGARR_ENFORCE_EXTERNAL_VALIDATION=false
