#trashGuideUrl: https://github.com/BlackDark/fork-TRASH-Guides
#recyclarrConfigUrl: https://github.com/BlackDark/fork-recyclarr-configs
localCustomFormatsPath: /app/cfs
localConfigTemplatesPath: /app/templates
# telemetry: true # since v1.16.0

# You can enable or disable
# sonarrEnabled: false
# radarrEnabled: false
# whisparrEnabled: false
# readarrEnabled: false
# lidarrEnabled: false

customFormatDefinitions:
  - trash_id: example-in-config-cf
    trash_scores:
      default: -10000
    trash_description: "Language: German Only"
    name: "Language: Not German"
    includeCustomFormatWhenRenaming: false
    specifications:
      - name: Not German Language
        implementation: LanguageSpecification
        negate: true
        required: false
        fields:
          value: 4
  - trash_id: example-release-title-cf
    trash_scores:
      default: 0
    name: ExampleReleaseTitleCF
    includeCustomFormatWhenRenaming: false
    specifications:
      - name: Preferred Words
        implementation: ReleaseTitleSpecification
        negate: false
        required: false
        fields:
          value: "\\b(SPARKS|Framestor)\\b"

sonarr:
  instance1:
    # Set the URL/API Key to your actual instance
    base_url: http://sonarr:8989
    api_key: !secret SONARR_API_KEY

    # since v1.11.0, optional, for disabling instances
    #enabled: false

    # since v1.12.0. Optional
    # delete_unmanaged_custom_formats:
    #   enabled: true
    #   ignore:
    #     - CustomFormatToKeep

    # since v1.18.0. Optional
    # delete_unmanaged_quality_profiles:
    #   enabled: true
    #   ignore:
    #     - QualityProfileToKeep

    quality_definition:
      type: series

    include:
      #### Custom
      - template: sonarr-cf
      - template: sonarr-quality

    custom_formats:
      - trash_ids:
          - e6258996055b9fbab7e9cb2f75819294
        assign_scores_to:
          - name: ExampleProfile
            # score: 0 # Uncomment this line to change score

    # (experimental) since v1.12.0
    # allows using the cf-groups from TRaSH-Guide.
    custom_format_groups:
      - trash_guide:
          - id: c4735e1d02e8738044ad4ad1bf58670c # Multiple CFs, default only required=true are loaded
            #include_unrequired: true # if you want to load all set this to true
        assign_scores_to:
          - name: ExampleProfile
            # score: 0 # (experimental) since v1.16.0. Uncomment this line to change score

    # Ability to rename profiles
    # renameQualityProfiles:
    #   - from: ExampleProfile
    #     to: RenamedExampleProfile

    # Ability to clone profiles
    # cloneQualityProfiles:
    #   - from: RenamedExampleProfile
    #     to: ClonedProfile

    # (experimental) Manage download clients
    download_clients:
      data:
        - name: "qBit 4K"
          type: qbittorrent
          enable: false
          priority: 1
          remove_completed_downloads: true
          remove_failed_downloads: true
          tags:
            - "4K"
            - "Anime"
          fields:
            host: qbittorrent
            port: 8080
            use_ssl: false
            url_base: /
            username: sonarr
            password: changeme
            tv_category: my-cat
            tv_imported_category: import-cat
      update_password: false
      delete_unmanaged:
        enabled: false
        ignore:
          - "Some client name"
      # (since v1.20.0) Remote path mappings for download clients
      remote_paths:
        - host: "transmission"
          remote_path: "/downloads/tv"
          local_path: "/data/media/downloads/tv"
        - host: "qbittorrent"
          remote_path: "/downloads"
          local_path: "/data/downloads"

radarr:
  instance1:
    # Set the URL/API Key to your actual instance
    base_url: http://radarr:7878
    api_key: !secret RADARR_API_KEY

    # since v1.14.0. Optional
    root_folders:
      - "/app"

    # since v1.14.0. Optional
    delay_profiles:
      default:
        enableUsenet: true
        enableTorrent: false
        preferredProtocol: usenet
        usenetDelay: 10
        torrentDelay: 0
        bypassIfHighestQuality: false
        bypassIfAboveCustomFormatScore: false
        minimumCustomFormatScore: 0
      additional:
        - enableUsenet: true
          enableTorrent: false
          preferredProtocol: usenet
          usenetDelay: 10
          torrentDelay: 0
          bypassIfHighestQuality: false
          bypassIfAboveCustomFormatScore: false
          minimumCustomFormatScore: 0
          order: 1
          tags:
            - delayprofiletest

    # experimental
    media_management:
      recycleBin: "/tmp"

    # experimental
    media_naming_api: {}

    # (experimental) Manage download clients
    download_clients:
      data:
        - name: "qBit 4K"
          type: qbittorrent
          enable: false
          priority: 1
          remove_completed_downloads: true
          remove_failed_downloads: true
          tags:
            - "4K"
            - "Anime"
          fields:
            host: qbittorrent
            port: 8080
            use_ssl: false
            url_base: /
            username: sonarr
            password: changeme
            movie_imported_category: series-4k
      update_password: false
      delete_unmanaged:
        enabled: false
        ignore:
          - "Some client name"
       # (since v1.20.0) Remote path mappings for download clients
      remote_paths:
        - host: "transmission"
          remote_path: "/downloads/movies"
          local_path: "/data/media/downloads/movies"
        - host: "qbittorrent"
          remote_path: "/downloads"
          local_path: "/data/downloads"
      # Global download client configuration
      config:
        download_client_working_folders: "/downloads,/tmp"
        enable_completed_download_handling: true
        auto_redownload_failed: false
        auto_redownload_failed_from_interactive_search: false
        check_for_finished_download_interval: 5

    # naming from TRaSH. See docs
    media_naming: {}

    include:
      # Comment out any of the following includes to disable them
      #- template: radarr-quality-definition-movie
      #- template: radarr-quality-profile-hd-bluray-web
      #- template: radarr-custom-formats-hd-bluray-web

      # - template: radarr-quality-profile-uhd-bluray-web
      # - template: radarr-custom-formats-uhd-bluray-web

      # - template: radarr-quality-profile-remux-web-1080p
      # - template: radarr-custom-formats-remux-web-1080p

      # - template: radarr-quality-profile-remux-web-2160p
      # - template: radarr-custom-formats-remux-web-2160p

      # - template: radarr-quality-profile-anime
      # - template: radarr-custom-formats-anime

      #### Custom
      - template: radarr-cf
      - template: radarr-quality
      # - template: 2b90e905c99490edc7c7a5787443748b
      #   source: TRASH

    quality_profiles:
      - name: ExampleInConfigProfile
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: WEB 2160p
          until_score: 1000 # Upgrade until
          min_format_score: 5 # Minimum increment for upgrade
        min_format_score: 0 # Minimum custom format needed to download
        quality_sort: top
        qualities:
          - name: Remux-2160p
          - name: WEB 2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p
          - name: Remux-1080p
          - name: WEB 1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
        # Replacing the language of a profile
        # - name: ExampleProfile
        #   language: Any

    custom_formats:
      # Movie Versions
      - trash_ids:
          - 9f6cbff8cfe4ebbc1bde14c7b7bec0de # IMAX Enhanced
        assign_scores_to:
          - name: ExampleProfile
            # score: 0 # Uncomment this line to disable prioritised IMAX Enhanced releases

whisparr:
  instance1: # Instance name (can be any unique identifier)
    base_url: http://whisparr:6969 # instance URL
    api_key: !secret WHISPARR_API_KEY # Reference to API key in secrets.yml

    # not supported
    # quality_definition:
    #   type: movie # Quality definition type

    include:
      # only custom defined templates available
      - template: whisparr

    custom_formats: # Custom format assignments
      - trash_ids:
          - example-in-config-cf
        assign_scores_to:
          - name: ExampleProfile
            score: 1000

    quality_profiles:
      # TODO: language not correctly mapped
      - name: ExampleProfile
        upgrade:
          until_score: 200
          # Not supported in whisparr
          #min_format_score: 200

readarr:
  instance1: # Instance name (can be any unique identifier)
    base_url: http://readarr:8787 # instance URL
    api_key: !secret READARR_API_KEY # Reference to API key in secrets.yml

    # not supported
    # quality_definition:
    #   type: movie # Quality definition type

    include:
      # only custom defined templates available
      - template: readarr

    custom_formats: # Custom format assignments
      - trash_ids:
          - example-release-title-cf
        assign_scores_to:
          - name: ExampleProfile
            score: 1000

    quality_profiles:
      # TODO: language not correctly mapped
      - name: ExampleProfile
        upgrade:
          until_score: 200
          # Not supported in whisparr
          #min_format_score: 200

    metadata_profiles:
      - name: "Default"
        min_popularity: 10
        skip_missing_date: true
        skip_missing_isbn: false
        skip_parts_and_sets: false
        skip_secondary_series: false
        allowed_languages:
          - eng # ISO 639-3 language codes (3-letter)
          - deu
        min_pages: 50
        must_not_contain:
          - "Text in title"

    delete_unmanaged_metadata_profiles:
      enabled: true
      ignore:
        - Standard
        - None

    delete_unmanaged_profiles:
      enabled: true

lidarr:
  instance1:
    # Set the URL/API Key to your actual instance
    base_url: http://lidarr:8686
    api_key: !secret LIDARR_API_KEY

    # not supported
    # quality_definition:
    #   type: movie # Quality definition type

    include:
      # only custom defined templates available
      - template: lidarr

    custom_formats: # Custom format assignments
      - trash_ids:
          - example-release-title-cf
        assign_scores_to:
          - name: ExampleProfile
            score: 1000

    quality_profiles:
      # TODO: language not correctly mapped
      - name: ExampleProfile
        upgrade:
          until_score: 200
          # Not supported in whisparr
          #min_format_score: 200

    metadata_profiles:
      - name: Default
        primary_types:
          - Album
          - EP
        secondary_types:
          - Studio
        release_statuses:
          - Official

    delete_unmanaged_metadata_profiles:
      enabled: true
