#trashGuideUrl: https://github.com/BlackDark/fork-TRASH-Guides
#recyclarrConfigUrl: https://github.com/BlackDark/fork-recyclarr-configs
localCustomFormatsPath: /app/cfs
localConfigTemplatesPath: /app/templates

customFormatDefinitions:
  - trash_id: example-in-config-cf
    trash_scores:
      default: -10000
    trash_description: "Language: German Only"
    name: "Language: Not German"
    includeCustomFormatWhenRenaming: false
    specifications:
      - name: Not German Language
        implementation: LanguageSpecification
        negate: true
        required: false
        fields:
          value: 4
  - trash_id: example-release-title-cf
    trash_scores:
      default: 0
    name: ExampleReleaseTitleCF
    includeCustomFormatWhenRenaming: false
    specifications:
      - name: Preferred Words
        implementation: ReleaseTitleSpecification
        negate: false
        required: false
        fields:
          value: "\\b(SPARKS|Framestor)\\b"

sonarr:
  instance1:
    # Set the URL/API Key to your actual instance
    base_url: http://sonarr:8989
    #base_url: https://sonarr.oci.eduard-marbach.de/
    api_key: !secret SONARR_API_KEY

    quality_definition:
      type: series

    include:
      #### Custom
      - template: sonarr-cf
      - template: sonarr-quality

    custom_formats:
      # Movie Versions
      - trash_ids:
          - 9f6cbff8cfe4ebbc1bde14c7b7bec0de # IMAX Enhanced
        quality_profiles:
          - name: ExampleProfile
            # score: 0 # Uncomment this line to disable prioritised IMAX Enhanced releases

radarr:
  instance1:
    # Set the URL/API Key to your actual instance
    base_url: http://radarr:7878
    #base_url: https://sonarr.oci.eduard-marbach.de/
    api_key: !secret RADARR_API_KEY

    quality_definition:
      type: movies

    include:
      # Comment out any of the following includes to disable them
      #- template: radarr-quality-definition-movie
      #- template: radarr-quality-profile-hd-bluray-web
      #- template: radarr-custom-formats-hd-bluray-web

      # - template: radarr-quality-profile-uhd-bluray-web
      # - template: radarr-custom-formats-uhd-bluray-web

      # - template: radarr-quality-profile-remux-web-1080p
      # - template: radarr-custom-formats-remux-web-1080p

      # - template: radarr-quality-profile-remux-web-2160p
      # - template: radarr-custom-formats-remux-web-2160p

      # - template: radarr-quality-profile-anime
      # - template: radarr-custom-formats-anime

      #### Custom
      - template: radarr-cf
      - template: radarr-quality

    custom_formats:
      # Movie Versions
      - trash_ids:
          - 9f6cbff8cfe4ebbc1bde14c7b7bec0de # IMAX Enhanced
        quality_profiles:
          - name: ExampleProfile
            # score: 0 # Uncomment this line to disable prioritised IMAX Enhanced releases

whisparr:
  instance1: # Instance name (can be any unique identifier)
    base_url: http://whisparr:6969 # instance URL
    api_key: !secret WHISPARR_API_KEY # Reference to API key in secrets.yml

    quality_definition:
      type: movies # Quality definition type

    include:
      # only custom defined templates available
      - template: whisparr

    custom_formats: # Custom format assignments
      - trash_ids:
          - example-in-config-cf
        assign_scores_to:
          - name: ExampleProfile
            score: 1000

    quality_profiles:
      # TODO: language not correctly mapped
      - name: ExampleProfile
        upgrade:
          until_score: 200
          # Not supported in whisparr
          #min_format_score: 200

readarr:
  instance1: # Instance name (can be any unique identifier)
    base_url: http://readarr:8787 # instance URL
    api_key: !secret READARR_API_KEY # Reference to API key in secrets.yml

    # not supported
    # quality_definition:
    #   type: movies # Quality definition type

    include:
      # only custom defined templates available
      - template: readarr

    custom_formats: # Custom format assignments
      - trash_ids:
          - example-release-title-cf
        assign_scores_to:
          - name: ExampleProfile
            score: 1000

    quality_profiles:
      # TODO: language not correctly mapped
      - name: ExampleProfile
        upgrade:
          until_score: 200
          # Not supported in whisparr
          #min_format_score: 200
